@font-face {
  font-family: VarelaRound;
  src: url(./global-assets/fonts/VarelaRound-Regular/VarelaRound-Regular.ttf);
}

:root {
  /* colors */
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;

  --marginSpace: 0.3rem;
  --footer-font-size: 1.2rem;
  --tile-size: 150px;

  --small-br: 5px;
  --med-br: 10px;
  --def-spacing: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 100px;
  font-family: VarelaRound, sans-serif;
}

.content {
  width: 100%;
  background-color: var(--persian-green);
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: var(--def-spacing);
}

.start-button {
  padding: var(--def-spacing);
  margin-bottom: var(--def-spacing);
  border-radius: 20px;
  background-color: var(--burnt-sienna);
  font-size: 3rem;
  color: var(--charcoal);
  max-width: 100%;
  text-align: center;
  justify-self: center;
  -webkit-box-shadow: 10px 10px 7px -4px var(--charcoal);
  -moz-box-shadow: 10px 10px 7px -4px var(--charcoal);
  box-shadow: 10px 10px 7px -4px var(--charcoal);
  cursor: pointer;
}

.start-button:hover {
  scale: 1.05;
}

.start-button:active {
  scale: 1;
}

.game-prompt {
  text-align: center;
  color: var(--charcoal);
  font-size: 1.5rem;
  margin-bottom: var(--def-spacing);
}

.game-board {
  height: min(95vw, 100%);
  aspect-ratio: 1;
  border-radius: var(--med-br);
  padding: 20px;
  background-color: var(--saffron);

  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.2rem;
}

.game-tile {
  aspect-ratio: 1;
  background-color: sandybrown;
  border-radius: var(--med-br);
  border: 4px solid var(--burnt-sienna);
  cursor: pointer;
}

.game-tile:hover {
  scale: 1.05;
}
.game-tile:active {
  scale: 1;
}

.O {
  background-image: url("./global-assets/images/O-charcoal.png");
}

.X {
  background-image: url("./global-assets/images/X-charcoal.png");
}

.O,
.X {
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: 10px;
}

footer {
  padding: 20px;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--footer-font-size);
}

footer img {
  height: calc(var(--footer-font-size) - 0.2rem);
  margin-left: var(--marginSpace);
}

footer img:hover {
  scale: 1.2;
}

footer img:active {
  scale: 1;
}

footer .top-attribution {
  margin-top: 10px;
  font-size: 0.8rem;
}

footer .top-link {
  color: var(--burnt-sienna);
  margin-left: var(--marginSpace);
}

footer .top-link:visited {
  color: var(--burnt-sienna);
}

.placeholder:nth-child(even) {
  background-color: green;
}

.placeholder:nth-child(odd) {
  background-color: red;
}

/* ---------------UTILITY CLASSES--------------- */
.unselectable {
  user-select: none;
}

.hidden {
  visibility: hidden;
}
